{% set meta = page_meta() %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default('en') }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
	<meta charset="utf-8">

    <title>{{ meta.full_title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'wapps/metadata.html' %}
    {{ blog_meta() }}
</head>
<body>

    <h1>{{ page.title }}</h1>

    {% if page.image %}
    {{ image(page.image, 'fill-1100x580') }}
    {% endif %}

    {{ page.body|richtext }}

    <label class="post_meta">
        Posted by {{ page.owner }} on {{ page.first_published_at }}
    </label>

</body>
</html>
