{% load static i18n wagtailcore_tags wagtailimages_tags %}
<!DOCTYPE html>
<html lang="{{lang|default:'en'}}">
<head>
	<meta charset="utf-8">

	<title>{{ page.title }}</title>

	<meta name="description" content="">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

    <h1>{{ page.title }}</h1>
    {{ page.intro|richtext }}

    <ul>
    {% for post in posts.object_list %}
        <li><a href="{% pageurl post %}">{{ post.title }}</a></li>
    {% empty %}
        <li><span>{% trans 'No results founds.' %}</span></li>
    {% endfor %}
    </ul>

</body>
</html>
